<div class="row">
  <div class="col-md-8 offset-md-1 p-5">
    <div class="card">
      <div class="card-header text-center">
        <h5>Gracias {{ nombre }}! Tu pedido ha sido recibido</h5>
      </div>
      <div class="card-body">
        El menu que elegiste estara disponible en el comedor a la hora de la
        comida, esperamos la disfrutes.
        <hr />
        <p>
          <strong>Sopa:</strong>
          {{ sopa }}
        </p>
        <p>
          <strong>Comida:</strong>
          {{ comida }}
        </p>
        <p>
          <strong>Postre:</strong>
          {{ postre }}
        </p>

        <div class="text-center">
          <div class="btn btn-outline-primary" routerLink="/login">
            Enterado.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Tu pedido ha sido recibido.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
