<div class="row">
  <div class="col-md-6 offset-md-3 p-5">
    <div class="card">
      <div class="card-header text-center">
        <h5>Menu Del Dia</h5>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">Sopa</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="sopa"
                  value="1"
                  id="sopa1"
                />
                <label class="form-check-label" for="sopa1">
                  🎃 Crema de Flor de Calabaza</label
                >
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="sopa"
                  value="2"
                  id="sopa2"
                />
                <label class="form-check-label" for="sopa2">
                  🍄 Crema de Champiñones</label
                >
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="sopa"
                  value="3"
                  id="sopa3"
                />
                <label class="form-check-label" for="sopa3">
                  🌽 Crema de Elote</label
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">Plato Fuerte</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="comida"
                  value=""
                  id="comida1"
                />
                <label class="form-check-label" for="comida1"
                  >Pechuga rellena de queso en Salsa de Huitlacoche</label
                >
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="comida"
                  value=""
                  id="comida2"
                />
                <label class="form-check-label" for="comida2"
                  >Filete de Res en Salsa de Champiñones</label
                >
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="comida"
                  value=""
                  id="comida3"
                />
                <label class="form-check-label" for="comida3"
                  >Filete de Pescado en Salsa de Almendras</label
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">Postre</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="postre"
                  value=""
                  id="postre1"
                />
                <label class="form-check-label" for="postre1">
                  Crepa de Queso y Zarzamora
                </label>
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="postre"
                  value=""
                  id="postre2"
                />
                <label class="form-check-label" for="postre2">
                  Mil hojas de Fresa y Crema Batida
                </label>
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="radio"
                  name="postre"
                  value=""
                  id="postre3"
                />
                <label class="form-check-label" for="postre3">
                  Manzana al Horno con Buñuelos
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="btn btn-primary" routerLink="/confirmado">Enviar</div>
      </div>
    </div>
  </div>
</div>
