<div class="row">
  <div class="col-md-8 offset-md-2 p-5">
    <div class="card">
      <div class="card-header text-center">
        <h5>Menu Del Dia para {{puesto}}</h5>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">Sopa</div>
          <div class="card-body">
            <div class="alert alert-danger" role="alert" *ngIf="errorSopa">
              Elija una opcion
            </div>
            
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let sop of sopas; let i = index"
              >
                <input
                  required
                  class="form-check-input me-1"
                  type="radio"
                  name="sopa"
                  [(ngModel)]="sopa"
                  value="{{ sop }}"
                  id="sopa{{ i }}"
                />
                <label class="form-check-label" for="sopa1">{{ sop }}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">Plato Fuerte</div>
          <div class="card-body">
            <div class="alert alert-danger" role="alert" *ngIf="errorComida">
              Elija una opcion
            </div>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let plat of platillos; let i = index"
              >
                <input
                  required
                  class="form-check-input me-1"
                  type="radio"
                  name="comida"
                  [(ngModel)]="comida"
                  value="{{ plat }}"
                  id="comida{{ i }}"
                />
                <label class="form-check-label" for="comida2">{{ plat }}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">Postre</div>
          <div class="card-body">
            <div class="alert alert-danger" role="alert" *ngIf="errorPostre">
              Elija una opcion
            </div>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let pos of postres; let i = index"
              >
                <input
                  required
                  class="form-check-input me-1"
                  type="radio"
                  name="postre"
                  [(ngModel)]="postre"
                  value="{{ pos }}"
                  id="postre{{ i }}"
                />
                <label class="form-check-label" for="postre1">{{ pos }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="btn btn-primary" (click)="revisaDatos()">Enviar</div>
      </div>
    </div>
  </div>
</div>
